<app-nav-bar class="sticky-top" [item]="item" [products]="products" (reebotItem)="reebot($event)" ></app-nav-bar>
<div class="container-fluid container-md  d-flex flex-column flex-md-row  align-items-center position-relative">
 <app-cart class="position-absolute end-0 top-0 cart bg-white shadow-lg flex-column  py-3 d-flex"
  [ngClass]="{'op-1':status,'op-0':!status,'h-fit':products.length > 0,'h-200':products.length==0 }" [products]="products">
</app-cart>
  <router-outlet (activate)="sendItem($event)"></router-outlet>
</div>